p {
    color: blue;
}


.text {
    color: red;
}


#container {
    color: green;
}

/* .highlight {
    color: black !important;
}

.highlight {
    color: orange;
}

a:hover {
    color: yellow;
}

button[class~="btn-primary"] {
    color: white;
    background-color: darkblue;
}

#container p {
    color: brown;
}
 */